<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>Create a Basketball Team!</h1>
    <form method="POST" action="/team">
        <label for="name">Team Name:</label>
        <input type="text" name="name" id="name"><br>
        <br>
        <label for="name">Coach:</label>
        <input type="text" name="coach" id="coach"><br>
        <br>
        <label for="name">Point Guard:</label>
        <input type="text" name="pg" id="point_guard"><br>
        <br>
        <label for="name">Shooting Guard:</label>
        <input type="text" name="sg" id="shooting_guard"><br>
        <br>
        <label for="name">Small Forward:</label>
        <input type="text" name="sf" id="small_forward"><br>
        <br>
        <label for="name">Power Forward:</label>
        <input type="text" name="pf" id="power_forward"><br>
        <br>
        <label for="name">Center:</label>
        <input type="text" name="c" id="center"><br>
        <br>
        <input type="submit" value="Submit">


    </form>

 </body>
</html>


